[Desktop Entry]
Type=Application
Name=awesome-gnome
NoDisplay=true
Comment=Awesome window manager (GNOME)
Exec=awesome-gnome
X-GNOME-WMName=awesome-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
